@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

header, footer, main, section, article{
	container-type: inline-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-wrap: balance;
}

p, li, figcaption{
	text-wrap: pretty;
	max-width: 65ch;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

img{
  display: block;
}